body{
    margin: 0 auto;
}
.wrapper{
    max-width: 1140px;
    height: 250px;
    margin: 1rem 2rem;
    display: flex;

}
.circle{
    margin:  1rem;
    width: calc(100%/3);
    background-color: blue;
    border-radius: 50%;
}
.square{
    margin:  1rem;
    width: calc(100%/3);
    background-color: #ff002b;
}